extends index

block content
  .row
  .col-xs-6.col-md-3
    a.thumbnail(href="http://121.9.245.71/zabbix/" title="平台Zabbix")
      img(alt="平台Zabbix" src="images/zabbix.png")
    a.thumbnail(href="http://121.9.245.71" title="平台新Cacti")
      img(alt="平台新Cacti" src="images/cacti.gif")   
    a.thumbnail(href="http://121.9.232.116:8080/nagios3/" title="游戏Nagios")
      img(alt="游戏Nagios" src="images/nagios.jpg")           

  script(src='/stylesheets/jquery-1.8.3.min.js')
  script(src='/stylesheets/bootstrap.js')
  script(src='/javascripts/main.js')